extends ../layout
block content
  | #{message}
  h1 Área adiministrativa 
  p Bem vindo ao painel de controle do sistema de estudos

  br
  hr
  br

  h4 Lista de rotas 
  ul
    li
      a(href="/admin/users") Usuários
    li
      a(href="/admin/tables") Tabelas