
style. 
  .status-500 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .status-500 h1 {
    font-size: 10rem;
    margin-bottom: 0;
  }

  .status-500 p {
    font-size: 2rem;
    margin-top: 0;
  }

.status-500  
  h1 500
  p Internal Server Error
