extends ../layout
block content
  if message
    | #{message}

  h1 Sign Up
  form(action="/signup", method="POST")
    div 
      label(for="name") Name
      input(type="text", name="name", id="name")
    div
      label(for="birthday") Birthday
      input(type="date", name="birthday", id="birthday")
    div
      label(for="email") Email
      input(type="email", name="email", id="email")
    div
      label(for="password") Password
      input(type="password", name="password", id="password")
    div
      label(for="username") Username
      input(type="text", name="username", id="username")
    div
      input(type="hidden", name="role", id="role", value="1")
    div
      input(type="submit", value="Sign Up")
    