extends ../../layout
block content 
  h3 Lista de grupos

  if groups.length > 0
    table
      thead
        tr
          th Nome
          th Ações
      tbody
        each group in groups
          tr
            td(style="display: flex; align-items: center;") 
              img(src=group.avatar, width="50" height="50", alt="Avatar do grupo", style="border-radius: 50%")
              | #{group.name}
            td
              a.btn.btn-primary(href="/apps/groups/v/" + group.id) Entrar
  else
    p Você não faz parte de nenhum grupo